*,
*::before,
::after {
    box-sizing: border-box;
    outline: 1px solid $gray-800;
}

body {
    font-family: $font-family-NotoSansTC;
    color: $white;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; // 避免img下方不明間隙
}