*,
*::before,
::after {
    box-sizing: border-box;
    outline: 1px solid $primary;
}

body {
    font-family: $font-family-NotoSansTC;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}