.logo a {
    display: inline-block; 
    background-image: url('../img/logo.png');
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 188px;
    // width: auto; 

    /*  將文字推出 <h1>  */
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

// header, max以下打開
@media(max-width: 768px){
    .header ul{
        flex-direction: column;
    }
    .social {
        margin-top: 36px;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }            
}