.logo a {
    display: block; 
    background-image: url('../img/logo.png');
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;

	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}