/* Service */
.price-list .card{
    background: $body-bg;
}
.price-item {
    width: calc(50% - 36px);
    border: 1px solid $black-80;
    display: flex;
    flex-direction: column;
    li {
        list-style-type: disc;
        padding: 0px 0px;
        &:not(:last-child) { 
            margin-bottom: 8px;  
        }
    }
    span {
        font-size: 16px;
    }
    &:hover {
        border-color: $light;
        cursor: pointer;
    }
    .card-footer, .card-body {
        padding: 20px 32px;
    }
}

.mark-disc {
    position: relative;
    left: 16px;
}

/* Tool-list: Search */

// Remove outer border and shadow of input on focus state
.search > *:focus {
    outline: none;
    box-shadow: none;
}
.dropdown > *:focus {
    outline: none;
    box-shadow: none;
}

.search {
    position: relative;
    display: inline-block;
    width: 100%;
    .form-control {
        border: 0;
        background-color: $black-20;
        color: $dark;
    }
    input {
        padding: 20px 40px 20px 76px;
    }
    .material-icons {
        position: absolute;
        left: 42px;
        top: calc(50% - 0.5em);
    }
}

// Custimize dropdown css style
.btn-search-bar {
    display: flex;
    align-items: center;
    background-color: $white;
    color: $dark;
    border: 1px solid $black-20;
    border-radius: 16px;
    padding: 20px 32px;
    &:hover, &:focus {
        background-color: $white;
        color: $dark;
        border-color: $dark;
    }
}
a.dropdown-item {
    color: $dark;
    padding: 16px 20px;
}

a.dropdown-item:active {
    background-color: $white;
    color: $dark;
}

/* FQA */
.accordion-item {
    border: 1px solid $black-80;
    border-radius: 16px;
    &:hover {
        border-color: $light;
    }
}
.accordion-item.show {
    border-color: $white;
}


@media(max-width: 992px){
   
}
@media(max-width: 768px){
    .price-item {
        width: 100%;
    }
}

@media(max-width: 376px){

}